<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="with=device-width,initial-scale=1">
    <title> TFC </title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap" rel="stylesheet">
    <script src="https://use.fontawesome.com/05f9009fe4.js"></script>
</head>

<body>
    <section class="discord-invite" id="discord-invite" style="background-image:linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url({% static 'logo-light.png' %}); background-size:cover;">
        <div class="discord-box">
            <div class = "server-logo">
                
            </div>
            <p style="color:gray;">TFC has invited you to join</p>
            <h1 style="margin-bottom:40px;">TFC Fanfare Center</h1>
    
            <a href="https://discord.gg/wRdsffvT52" class="inv-btn" style="text-decoration:none; color:white;">Accept Invite</a>
        </div>
    </section>
</body>

</html>